* {
    margin: 0;
    padding: 0;
}
div#biaoti {
    background: url("photos/thetitlebackground2.jpg") fixed center top;
    width: 1840px;
    height: 400px;
    margin: 0 1px 30px 1px;
    padding: 0;
}
h1#biaotizifu{
    color:lightgoldenrodyellow;
    font-size: 5em;
    font-family: 华文楷体,serif;
}